<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>490657122703-je2bkfpgt7gnr0ae1drs5mrvjs5kq5r6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.490657122703-je2bkfpgt7gnr0ae1drs5mrvjs5kq5r6</string>
	<key>API_KEY</key>
	<string>AIzaSyAWAk5XTcexHK3YP-vCeR_CLIfTTcWmTg8</string>
	<key>GCM_SENDER_ID</key>
	<string>490657122703</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.finance</string>
	<key>PROJECT_ID</key>
	<string>finance-687cc</string>
	<key>STORAGE_BUCKET</key>
	<string>finance-687cc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:490657122703:ios:41452fa10de37044bd23fa</string>
</dict>
</plist>